.App{
  margin:0;
  position:absolute;
  right: 0px;
  top:0px;
  background-color: aqua;

}
.App input{
  border-radius: 8px;
  margin-left: 6px ;
  margin-right: 10px;
  border: 2px solid black;
  font-weight: bolder;
  font-size: 16px;
  position:relative;
  top: 13px;



}
*{
  
  padding: 10px;
}
.App select{
  position: relative;
  left: 20px;
  border: 2px solid black;
  border-radius: 8px;
  width: 58%;
  font-weight: bolder;
  text-align: center;
}

.App select option{
  font-weight: bolder;

}
div button{
  position: relative;
  left: 30%;
  bottom: 12px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  width: 40%;
  font-weight: bolder;
  text-align: center;
 
}
div input{
  position: relative;
  left: 15px;
  bottom: 8px;
  font-weight: bold;
  text-align: center;

}